<!-- Ion View and Header logo -->
<ion-view title="<img class='headLogo' src='img/drop_head_logo.svg'>">

  <!-- Toggle Menu Left -->
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>

  <!-- Drop Camera -->
  <ion-nav-buttons side="right">
    <button class="button button-icon icon ion-ios7-videocam"></button>
  </ion-nav-buttons>
   
  <!-- Drop Feed -->
  <ion-content class="has-header">
    
    <div class="list card dropcard" ng-repeat="drop in drops">
    <!-- Drop username & location -->
      <div class="item item-avatar" >
        <img src="mcfly.jpg">
        <h2>{{drop.username}}</h2>
        <p>Uploaded a Drop</p>
         <p>{{drop.location}}</p>
      </div>

      <!-- Drop video, trick, feature, likes -->
       <video class="full-image" controls width="100%">
        <source src="{{drop.vid_url}}" type='video/mp4' />
      </video>
      
      <div id="trick">
        <div class="row">
          <div class="col">
           <p><a href="#">{{drop.trick_ex}}</a> on <a href="#">
            {{drop.park_feature}}</a></p>
          </div>
        </div>


        <div class="row">
          <div class="col">
            <p>
              <a href="#"> <i class="icon ion-thumbsup"></i> 19 people thinks this is Rad</a>
            </p>
          </div>
        </div>
      </div>

      <!-- Rad tabs ( Like, Share ) -->
      <div class="item">
        <!-- <a class="tab-item" href="#">
          <i class="icon ion-thumbsup"></i>
          Rad
        </a> -->
      <div class="button-bar">
  <a class="button button-positive">+ Rad</a>
  <a class="button button-positive">Comment</a>
</div>
        
        <!-- <a class="tab-item" href="#">
          <i class="icon ion-share"></i>
          Share
        </a> -->
      </div>

    </div><!--  / list card -->
  </ion-content>
</ion-view>


