<!-- Ion View and Header logo -->
<ion-view title="<img class='headLogo' src='img/drop_head_logo.svg'>">

  <!-- Toggle Menu Left -->
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>

  <!-- Drop Camera -->
  <ion-nav-buttons side="right">
    <button ng-click="showUploadOptions();" class="button button-icon icon ion-ios7-videocam"></button>
  </ion-nav-buttons>

  <div class="bar bar-subheader">
    <div id="vid_type">
    <label class="item item-input item-select">
    <div class="input-label">
      Drops
    </div>
    <select>
      <option selected>Popular</option>
      <option>Crew</option>
      <option>Friends</option>
      <option>Bails</option>
    </select>
  </label>
  </div>

  </div>
   
  <!-- Drop Feed -->
  <ion-content id="home" class="has-header">
    
    <div class="list card dropcard">
    <!-- Drop username & location -->
      <div class="item item-avatar" >
        <img src="">
        <!-- <h2>{{drop.username}}</h2> -->
        <h4>Brock Stone</h4>
        <h4>Uploaded a Drop</h4>
      </div>

      <!-- Drop video, trick, feature, likes -->
       <video class="full-image" width="100%" webkit-playsinline autoplay="autoplay">
        <source src="vids/openingwkend.mp4" type='video/mp4' />
      </video>
      
      <div id="trick">
        


        <div class="row">
          <div class="col">
            <p>
              <!-- <p>{{drop.trick_ex}} on {{drop.park_feature}}</p> -->
              <h4>BS GRIND ON DOWN LEDGE</h4>
              <h4 id="trick_show">7 SPRINGS</h4>
              <h4><a href="#"> <i class="icon ion-thumbsup"></i>{{rad_count}} RIDERS THINK THIS IS RAD</a></h4>
            </p>
          </div>
        </div>
      </div>

      <!-- Rad tabs ( Like, Share ) -->
      <div class="row" id="rad_tabs">
        <div class="col">
           <!-- <a class="tab-item" href="#">
              <i class="icon ion-thumbsup"></i>
              Rad
            </a> -->
           <a id="rad_btn" href="" ng-click="raded();">RAD</a>

           <a id="comment_btn" href="" ng-click="openComments();">COMMENT</a>
     
            
            <!-- <a class="tab-item" href="#">
              <i class="icon ion-share"></i>
              Share
            </a> -->
        </div>
      </div>

    </div><!--  / list card -->
  </ion-content>
</ion-view>



















It is an honor to be standing here today. However I would be in this position without the guidance support and motivation from my family, friends, professors and classmates. Throughout my student career here at Full Sail University I have not only been well versed in many web languages but have also gained abilities I never knew I'd achieve. I would like to share an experience with you -

One day our Professor came into class and said "Make an App".
 We all turned and looked at each other, he then said that we had four hours to complete this assignment. We were put into teams of three and immedietly got to work. The fact that the instructions were so minimal.. make an app, we were puzzled on where to start. Before you knew it though we had an idea, and knew how we were going to accomplish the task. During lunch break we didnt even eat, we didnt want to, we wanted to finish our app. All in all we finished in time and presented it to the class. They loved what we had created, including our professor. This exersise really got my gears turning. It Truly showed us our full potential, and the benefits of proper teamwork. From there on out I knew I was in the right field of study. 

 I would like express my gratitude to all faculty of the Web Design And Development Department. It has truly been an amazing adventure these past two years. And to my classmate Paul, thank you for all the support throughout the degree.

 Congratualtion class of fall 2014! 

 go out there and show them what being a full sailor is all about!

 Thank you. 
















