/* Empty. Add your own CSS if you like */
.headLogo{
	margin-top: 7px;
}

.scroll-content{
	background-color: #353535;
}

.bar-dark{
	background-color: #232323;
}

hr{
	border: 1px solid #4f4f4f;
}

.dropvid{
	margin-bottom: 0px;
}

.center{
	margin: 0 auto;
}

.crew_profile{
	color: #ffffff;
	background-color: #232323;

}
.profile_top{
	background-color: #232323;
	margin-top: -6px;
	height: 65px;
	-webkit-box-shadow: 0 8px 6px -3px black; 
	-moz-box-shadow: 0 8px 6px -6px black; 
	box-shadow: 0 8px 6px -6px black;
}
.profile_pic{
	margin-top: -20px;
}
.profile_name{
	background-color: #303331;
}
#trick{
	background-color: #232323;
	margin-top: -5px;
	color: #ffffff;
}
#trick a{
	text-decoration: none;
	color: #0BA5EC;
}
.btm_shadow{
	-webkit-box-shadow: 0 8px 6px -6px black; 
	-moz-box-shadow: 0 8px 6px -6px black; 
	box-shadow: 0 8px 6px -6px black;
}
.stat{
	border-bottom:1px solid grey; 
	padding-bottom:8px;
}
.status{
	padding: 3px 35px;
	border: 1px solid #1CE554;
	margin-top: 5px;
}
.follow{
	padding: 3px 35px;
	border: 1px solid #0086E4;
	margin-top: 5px;
}

.count{
	border-right: 1px solid grey;
}

